<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8"></meta>
		<link rel="stylesheet" type="text/css" href="<%= mainCss %>">
		<script type="text/javascript" src="/components/requirejs/require.js" data-main="<%= mainJs %>"></script>
	</head>
	<body data-user="<%= user %>" data-user-role="<%= roles %>">
	</body>
</html>
